/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.InfinityFree
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.000web
.pendiente
resources/views/payment-clients/delete/
resources/views/payment-suppliers/.delete/
resources/views/purchases/delete/
resources/views/sales/.delete/
resources/views/shared/.delete/
resources/views/prueba/
sql/balanceclientsbsadolar.csv
sql/obtenermonedasrelacionadas.sql
sql/comprasproductos.sql
sql/salescontroller.clients.sql
sql/ObtenerValoresMonedasDeCalculo.sql
sql/predicciones.sql
sql/puntos.sql
txt
borrar
borrar.txt
