/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.InfinityFree
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.000web
.pendiente
resources/views/maintenance/.deleted
resources/views/.deleted

resources/views/purchases/delete/
resources/views/sales/.delete/
resources/views/shared/.delete/
resources/views/prueba/
sql/balanceclientsbsadolar.csv
sql/obtenermonedasrelacionadas.sql
sql/comprasproductos.sql
sql/salescontroller.clients.sql
sql/ObtenerValoresMonedasDeCalculo.sql
sql/predicciones.sql
sql/puntos.sql
txt
borrar
borrar.txt
public/js/tabledetails1.js
resources/views/clients/balance.blade.php
resources/views/shared/form-details-payment1.blade.php
public/images/product/2.png
public/images/product/TEST1.jpeg

